.progress {
  width: 500px;
  height: 50px;
  border: 1px solid #fff;
  padding: 12px 10px;
  box-shadow: 0 0 10px #aaa;
}

.progress .bar {
  width: 0%;
  height: 100%;
  background: orange;
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px orange;
}
